<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="./widgetDemo/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./widgetDemo/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="./widgetDemo/bower_components/bootstrap/dist/js/bootstrap.js"></script>


<button class="btn btn-default">WIDGET BUTTON!</button>