<html>
<head>
</head>

<body onload='init()' onunload='finis()'>

<h2>I am at:</h2>
<p>
Lat <input type="text" id="m2lat"  name="lat" size=4 value="45"><br/>
Lon <input type="text" id="m2lon" name="lon" size=4 value="-80"><br/>
</p>
</body>
</html>
