<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <script src="/javascripts/vendor.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="./{{moduleName}}/css/app.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="./{{moduleName}}/js/index.js"></script>

  <style>
    body {
      background-image: none !important;
      background-color: transparent !important;
    }
  </style>
</head>
<body>
<script>
  var sph = window.sph;
</script>
<div class="container-fluid iframe">
  <div class="row">
    <div class="col-xs-12">
      {{{body}}}
    </div>
  </div>
</div>

</body>
</html>
