<html>
  <head>
  </head>
  <body>
    <a href='javascript:sph.show("/esglobe_modules/simple/graphics/global_solar_resources.png")'
     style='font-size:20px;color:blue'>
      Global Solar Resources
    </a><br/>
    
  <a href='javascript:sph.show("/esglobe_modules/simple/graphics/aerosols.mp4")'
     style='font-size:20px;color:blue'>
     Aerosols (mp4)</a><br/>

More text

  </body>
</html>
